<%-include("partials/header")%>

<!-- <div class="container-fluid banner-container">
  <img class="banner" src="/files/banner.jpeg" alt="">
</div> -->

<div class="container-fluid new-posts">

  <div class="container-fluid new-posts">
    <div class="aboutMe">
      <h5 class="aboutMeTitle"><%=title%></h5>
      <p class="aboutMeText"><%=about%></p>
    </div>


  <div class="container-fluid userContainer">

    <%posts.forEach(function(post){%>

    <div class="card card-post">
      <div class="boundaries">
        <div class="date">
          <p class="date-text"><%=post.date%></p>
        </div>
        <%console.log(post.url);%>
        <% if(post.url.length < 1){%>
          <img class="card-img-top zoom" src="/files/default-img.jpg" alt="Doesnt load :_(">
        <%}else{%>
          <img class="card-img-top zoom" src=<%=post.url%> alt="Card image cap">
        <%}%>
      </div>
      <div class="card-body" style="text-align: left;">
        <%if(post.title.length > 35){%>
          <form class="" action="/post" method="post">
            <input class="hidden" type="text" name="postID" value="<%= post._id %>">
            <button class="btn btnTitle" type="submit" name="id" value=<%=post._id%>><h5 class="card-title"><%=post.title.substring(0, 35) + "...";%></h5></button>
          </form>
        <!-- <h5 class="card-title"><%=post.title.substring(0, 10) + "...";%></h5> -->
        <%}else{%>
          <form class="" action="/post" method="post">
            <input class="hidden" type="text" name="postID" value="<%= post._id %>">
            <button class="btn btnTitle" type="submit" name="id" style="text-align: left;" value=<%=post._id%>><h5 class="card-title"><%=post.title%></h5></button>
          </form>
        <!-- <h5 class="card-title"><%=post.title%></h5> -->
        <%}%>
    <%if(post.content.length > 60){%>
        <p class="card-text2"><%=post.content.substring(0, 60) + "..."%></p>
        <%}else{%>
        <p class="card-text2"><%=post.content%></p>
        <%}%>
        <!-- <form class="" action="/post" method="post">
          <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          <button class="btn btn-primary btn-lg btn-card" type="submit" name="id" value=<%=post._id%>><%=post.title%></button>
        </form> -->

        <!-- <div class="">
          <form class="" action="/like" method="post">
            <button class="btn btn-primary" type="submit" name="button">Like</button>
            <p>likes: <%= post.likes %></p>
            <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
            <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          </form>
        </div> -->

  </div>
</div>

        <% }); %>
      </div>

<%-include("partials/footer")%>
