<%-include("partials/header")%>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-7">

        <h3 class="main-title-home">All posts</h3>

        <hr class="separator">
        <!-- for reverting the post so the newest its gonna appear first -->
        <% posts.sort((a, b) => (a < b) ? 1 : -1); %>
        <%posts.forEach(function(post){%>

        <div class="home-posts">

          <div class="title-home">

            <div class="img-home">
              <% if(post.url.length < 1){%>
              <img class="img-post zoom" src="/files/default-img.jpg" alt="Doesnt load :_(">
              <%}else{%>
              <img class="img-post zoom" src=<%=post.url%> alt="Card image cap">
              <%}%>
            </div>

          </div>

              <%if(post.title.length > 100){%>

              <form class="mv" action="/post" method="post">
                <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
                <input class="hidden" type="text" name="postID" value="<%= post._id %>">
                <button class="btnTitle" type="submit" name="id" value="<%= post._id %>">
                  <h5 class="card-title-home"><%=post.title.substring(0, 100) + "...";%></h5>
                </button>
              </form>

              <%}else{%>

              <form class="mv" action="/post" method="post">
                <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
                <input class="hidden" type="text" name="postID" value="<%= post._id %>">
                <button class="btnTitle" type="submit" name="id" value="<%= post._id %>">
                  <h5 class="card-title-home"><%=post.title%></h5>
                </button>
              </form>

              <%}%>

          <div class="post-home">
            <%if(post.content.length > 100){%>
              <div class="text-container">
                <p class="card-text"><%=post.content.substring(0, 100) + "..."%></p>
              </div>
              <%}else{%>
              <div class="text-container">
                <p class="card-text"><%=post.content%></p>
              </div>
              <%}%>
          </div>

               <div class="margin-top">


                <% if(post.timeline === "checked"){%>

              <div class="mv">

                <form class="mv2" action="/user" method="post">
                  <button class="btnLink" type="submit" name="userID" value="<%=post.userName%>"><%= post.userName %></button>
                </form>
                <p class="mv2"> in </p>
                <form class="mv2" action="/timeline" method="post">
                  <button class="btnLink" type="submit">Timeline</button>
                </form>

              </div>

              <%} %>
              <% if(post.hand === "checked"){%>

              <div class="mv">

                <form class="mv2" action="/user" method="post">
                  <button class="btnLink" type="submit" name="userID" value="<%=post.userName%>"><%= post.userName %></button>
                </form>
                <p class="mv2"> in </p>
                <form class="mv2" action="/hand" method="post">
                  <button class="btnLink" type="submit">Hand</button>
                </form>

              </div>

              <%} %>
              <% if(post.thoughts === "checked"){%>

              <div class="mv">

                <form class="mv2" action="/user" method="post">
                  <button class="btnLink" type="submit" name="userID" value="<%=post.userName%>"><%= post.userName %></button>
                </form>
                <p class="mv2"> in </p>
                <form class="mv2" action="/thoughts" method="post">
                  <button class="btnLink" type="submit">Thoughts</button>
                </form>

              </div>

              <%} %>
              <% if(post.journey === "checked"){%>

              <div class="mv">

                <form class="mv2" action="/user" method="post">
                  <button class="btnLink" type="submit" name="userID" value="<%=post.userName%>"><%= post.userName %></button>
                </form>
                <p class="mv2"> in </p>
                <form class="mv2" action="/journey" method="post">
                  <button class="btnLink" type="submit">Journey</button>
                </form>

              </div>


              <%} %>
              <div class="">

                <p class="mv"><%=post.date%></p>
                <p class="mv"><%= post.readingTime %> min read </p>

              </div>


              <hr>
            </div>


          </div>




          <% }); %>

        </div>
        <!------------------------------------------------ right col --------------------------------------------------------->

        <!---------------------------------- col 4  -------------------------------------------->



        <div class="col-3 phoneSize">
          <div class="sticky-top phoneSize">


            <h3 class="main-title-home phoneSize">Top most visited posts</h3>

            <hr class="separator">
            <!-- for sorting the array of objects according to a key -->
            <% posts.sort((a, b) => (a.likes < b.likes) ? 1 : -1); %>
            <% var cont = 4 %>
            <% var cont2 = 0 %>

            <%posts.forEach(function(post){%>
            <%cont2++;%>
            <%if(cont2 <= cont){ %>


            <div class="col4-posts phoneSize">
              <div class="title-home phoneSize">

                <!-- <div class="img-home col4-img">
                            <% if(post.url.length < 1){%>
                            <img class="img-post zoom" src="/files/default-img.jpg" alt="Doesnt load :_(">
                            <%}else{%>
                            <img class="img-post zoom" src=<%=post.url%> alt="Card image cap">
                            <%}%>
                      </div> -->

                <%if(post.title.length > 60){%>
                <form class="mv phoneSize" action="/post" method="post">
                  <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
                  <input class="hidden" type="text" name="postID" value="<%= post._id %>">
                  <button class="btnTitle phoneSize" type="submit" name="id" value="<%= post._id %>">
                    <h5 class="card-title col4-title"><%=post.title.substring(0, 60) + "...";%></h5>
                  </button>
                </form>

                <%}else{%>
                <form class="mv phoneSize" action="/post" method="post">
                  <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
                  <input class="hidden" type="text" name="postID" value="<%= post._id %>">
                  <button class="btnTitle phoneSize" type="submit" name="id" value="<%= post._id %>">
                    <h5 class="card-title col4-title phoneSize"><%=post.title%></h5>
                  </button>
                </form>

                <%}%>

                      </div>

                      <!-- <div class="post-home">
                      <%if(post.content.length > 100){%>
                <div class="text-container">
                  <p class="card-text"><%=post.content.substring(0, 100) + "..."%></p>

                </div>
                <%}else{%>
                <div class="text-container">
                  <p class="card-text"><%=post.content%></p>
                </div>
                <%}%>



                      </div> -->


                      </div>

                      <!-- <form class="mv" action="/post" method="post">
                        <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
                <input class="hidden" type="text" name="postID" value="<%= post._id %>">
                <button class="btn btn-primary mv" type="submit" name="id" value="<%= post._id %>">đọc thêm</button>
                </form> -->

                <!-- <p class="mv">Views: <%= post.likes %></p> -->
                <p class="mvCol-4 phoneSize"><%= post.readingTime %> minutes read </p>
                <p class="mvCol-4 phoneSize"><%= post.date %></p>
                <hr class="phoneSize">
                <% } %>



                <% }); %>


              </div>

            </div>
            <!---------------------------------- col 4  -------------------------------------------->
          </div>
        </div>

        <!-- <h1>Hello</h1> -->

        <!-- for using jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>





        </script>

</body>




<footer>
</footer>
