<%- include("partials/header") %>

<body>

  <!-- ===================================Banner============================================================= -->

  <div class="container-fluid banner-container">
    <img class="banner" src="/files/banner.jpg" alt="">
  </div>

  <!-- ====================================Introduction===================================================== -->

  <div class="container-fluid introduction">
    <h2 class="title">Lời Giới Thiệu</h2>
    <div class="introduction-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec feugiat in fermentum posuere urna. Nunc eget lorem dolor sed viverra. Aliquam vestibulum morbi blandit cursus
        risus at. Consectetur a erat nam at lectus urna duis.</p>
    </div>
  </div>

  <!-- ==============================================Categories====================================================== -->

  <div class="container-fluid">
    <div class="categories">

      <div class="category-items img1">
        <div class="text-items">
          <h3 class="title-items">Timeline</h3>
          <hr>
          <p class="p-items">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-primary btn-lg" type="button" name="button">Go to category</button>
        </div>
        <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
      </div>
      <div class="category-items img2">
        <div class="text-items">
          <h3 class="title-items">Hand</h3>
          <hr>
          <p class="p-items">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-primary btn-lg" type="button" name="button">Go to category</button>
        </div>
        <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
      </div>
      <div class="category-items img3">
        <div class="text-items">
          <h3 class="title-items">Thoughts</h3>
          <hr>
          <p class="p-items">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-primary btn-lg" type="button" name="button">Go to category</button>
        </div>
        <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
      </div>
      <div class="category-items img4">
        <div class="text-items">
          <h3 class="title-items">My journey</h3>
          <hr>
          <p class="p-items">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-primary btn-lg" type="button" name="button">Go to category</button>
        </div>
        <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
      </div>
    </div>
  </div>

  <!-- ===========================================NewPosts============================================================ -->

  <div class="container-fluid new-posts">
    <h2 class="title">Bài Viết Mới</h2>

    <div class="container-fluid white-background">

      <%posts.forEach(function(post){%>

      <div class="card card-post" style="width: 18rem;">
        <div class="boundaries">
          <img class="card-img-top zoom" src="https://www.shoutmeloud.com/wp-content/uploads/2015/10/Benefits-of-meditation-1024x768.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <%if(post.title.length > 10){%>
          <h5 class="card-title"><%=post.title.substring(0, 10) + "...";%></h5>
          <%}else{%>
          <h5 class="card-title"><%=post.title%></h5>
          <%}%>
      <%if(post.content.length > 100){%>
          <p class="card-text"><%=post.content.substring(0, 100) + "..."%></p>
          <%}else{%>
          <p class="card-text"><%=post.content%></p>
          <%}%>
      <a href="#" class="btn btn-primary">Check post</a>
    </div>
  </div>

  <% }); %>
        </div>

        <!-- ===========================================Writter======================================================== -->

        <div class="container-fluid">
          <h2 class="title">Writter</h2>
          <div class="writter-container container-fluid">
            <img class="writter-img" src="/files/writter.jpg" alt="">

          </div>
          <div class="writter-name-container">
            <h3>Diep Nguyen Thi Ngoc</h3>
          </div>

        </div>

</body>


<%- include("partials/footer") %>
