<%- include("partials/header") %>

<body>

  <!-- ===================================Banner============================================================= -->

  <div class="container-fluid banner-container">
    <img class="banner" src="/files/banner.jpeg" alt="">
  </div>

  <!-- ====================================Introduction===================================================== -->

  <div class="container-fluid introduction">
    <h2 class="title">Lời Giới Thiệu</h2>
    <div class="introduction-text">
      <p class="intro-p">Risus in hendrerit gravida rutrum quisque non tellus orci. Massa vitae tortor condimentum lacinia quis. Sed lectus vestibulum mattis ullamcorper velit. Tempor nec feugiat nisl pretium. Libero justo laoreet sit amet cursus sit amet.
        Scelerisque varius morbi enim nunc faucibus a pellentesque. Non nisi est sit amet facilisis.</p>
    </div>
  </div>

  <!-- ==============================================Categories====================================================== -->

  <div id="categories" class="container-fluid">
    <div class="categories">

  <div class="category-items img1">

      <div class="text-items">
        <h3 class="title-items">Timeline</h3>
        <form class="" action="/timeline" method="post">
          <button class="btn-primary btn-lg btn-category" type="submit" name="button">Go to category</button>
        </form>

    </div>
    <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
  </div>

  <div class="category-items img2">
    <div class="text-items">
      <h3 class="title-items">Hand</h3>
      <form class="" action="/hand" method="post">
        <button class="btn-primary btn-lg btn-category" type="submit" name="button">Go to category</button>
      </form>
    </div>
    <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
  </div>


  <div class="category-items img3">
    <div class="text-items">
      <h3 class="title-items">Thoughts</h3>
      <form class="" action="/thoughts" method="post">
        <button class="btn-primary btn-lg btn-category" type="submit" name="button">Go to category</button>
      </form>
    </div>
    <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
  </div>
  <div class="category-items img4">
    <div class="text-items">
      <h3 class="title-items">Journey</h3>
      <form class="" action="/journey" method="post">
        <button class="btn-primary btn-lg btn-category" type="submit" name="button">Go to category</button>
      </form>
    </div>
    <!-- <img class="category-img" src="/files/buda.jpg" alt="buda"> -->
  </div>

    </div>
  </div>

  <!-- ===========================================NewPosts============================================================ -->

  <div id="newPost" class="container-fluid new-posts">
    <h2 class="title">Bài Viết Mới</h2>

    <div class="container-fluid white-background">
      <%var cont = posts.length-4;%>
      <%var cont2 = 0%>

      <%posts.forEach(function(post){%>

      <%cont2++%>
      <%if(cont2>cont){%>

      <div class="card card-post">
        <div class="boundaries">
          <div class="date">
            <p class="date-text"><%=post.date%></p>
          </div>
          <%console.log(post.url);%>
          <% if(post.url.length < 1){%>
          <img class="card-img-top zoom" src="/files/default-img.jpg" alt="Doesnt load :_(">
          <%}else{%>
          <img class="card-img-top zoom" src=<%=post.url%> alt="Card image cap">
          <%}%>
        </div>
        <div class="card-body">
          <%if(post.title.length > 10){%>
          <h5 class="card-title"><%=post.title.substring(0, 10) + "...";%></h5>
          <%}else{%>
          <h5 class="card-title"><%=post.title%></h5>
          <%}%>
      <%if(post.content.length > 100){%>
          <p class="card-text"><%=post.content.substring(0, 100) + "..."%></p>
          <%}else{%>
          <p class="card-text"><%=post.content%></p>
          <%}%>
          <form class="" action="/post" method="post">
            <button class="btn btn-primary btn-lg btn-card" type="submit" name="id" value=<%=post._id%>>Check post</button>
          </form>
        </div>
      </div>

      <%}%>

          <% }); %>
    </div>

    <!-- ===========================================Writter======================================================== -->

    <!-- <div id="writter" class="container-fluid">
      <h2 class="title">Writter</h2>
      <div class="writter-container container-fluid">
        <img class="writter-img" src="/files/writter.jpg" alt="">

      </div>
      <div class="writter-name-container">
        <h3>Diep Nguyen Thi Ngoc</h3>
      </div>

    </div>

</body> -->


<%- include("partials/footer") %>
