<%-include("partials/header")%>


<div class="container-fluid banner-container">
  <img class="banner" src="/files/banner.jpeg" alt="">
</div>

  <div class="container-fluid">

    <%posts.forEach(function(post){%>

    <div class="card card-post" id="card-post-m">
      <div class="boundaries">
        <div class="date">
          <p class="date-text"><%=post.date%></p>
        </div>
        <%console.log(post.url);%>
        <% if(post.url.length < 1){%>
          <img class="card-img-top zoom" src="/files/default-img.jpg" alt="Doesnt load :_(">
        <%}else{%>
          <img class="card-img-top zoom" src=<%=post.url%> alt="Card image cap">
        <%}%>
      </div>
      <div class="card-body centered">
        <%if(post.title.length > 20){%>
        <h5 class="card-title"><%=post.title.substring(0, 20) + "...";%></h5>
        <%}else{%>
        <h5 class="card-title"><%=post.title%></h5>
        <%}%>
    <%if(post.content.length > 100){%>
      <p class="card-text2"><%=post.content.substring(0, 100) + "..."%></p>
      <p class="card-text2MobileVersion"><%=post.content.substring(0, 280) + "..."%></p>
        <%}else{%>
        <p class="card-text2"><%=post.content%></p>
        <%}%>
        <form class="removeAndUpdate" action="/postToEdit" method="post">
          <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          <button class="btn btn-actions" type="submit" name="id" value=<%=post._id%>><i class="fas fa-edit"></i></button>
        </form>
        <form class="removeAndUpdate" action="/remove" method="post">
          <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          <button class="btn btn-actions" type="submit" name="id" value=<%=post._id%>><i class="fas fa-trash" style="color: red"></i></button>
        </form>

        <!-- <div class="">
          <form class="" action="/like" method="post">
            <button class="btn btn-primary" type="submit" name="button">Like</button>
            <p>likes: <%= post.likes %></p>
            <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
            <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          </form>
        </div> -->

  </div>
</div>

        <% }); %>
      </div>

<%-include("partials/footer.ejs")-%>
