<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

    <!-- font awesome 4 -->
    <script src="https://kit.fontawesome.com/5f007f948d.js" crossorigin="anonymous"></script>
  </head>

  <div class="container-fluid">

<div class="navbar-wrapper">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="brand" src="https://image.flaticon.com/icons/svg/3104/3104961.svg" alt="brand">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/myProfile">My profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/updateBio">Write bio<span class="sr-only">(current)</span></a>

        <!-- <a class="nav-link" href="/myProfile">Write a bios<span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/write">Write new story<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/timeline">Timeline</a>
          <a class="dropdown-item" href="/hand">Hand</a>
          <a class="dropdown-item" href="/thoughts">Thoughts</a>
          <a class="dropdown-item" href="/journey">Journey</a>
        </div>

      </li>

    </ul>
  </div>
  <div class="logOut">

    <form class="" action="/logOut" method="post">
      <button class="btn btn-danger" type="submit" name="button">Log out</button>
    </form>

  </div>
  </nav>


</div>

<!---------------------------- end of navbar--------------------------- -->
<div class="container-fluid banner-container">
  <img class="banner" src="/files/banner.jpeg" alt="">
</div>

  <div class="container-fluid">

    <%posts.forEach(function(post){%>

    <div class="card card-post">
      <div class="boundaries">
        <div class="date">
          <p class="date-text"><%=post.date%></p>
        </div>
        <%console.log(post.url);%>
        <% if(post.url.length < 1){%>
          <img class="card-img-top zoom" src="/files/default-img.jpg" alt="Doesnt load :_(">
        <%}else{%>
          <img class="card-img-top zoom" src=<%=post.url%> alt="Card image cap">
        <%}%>
      </div>
      <div class="card-body centered">
        <%if(post.title.length > 20){%>
        <h5 class="card-title"><%=post.title.substring(0, 20) + "...";%></h5>
        <%}else{%>
        <h5 class="card-title"><%=post.title%></h5>
        <%}%>
    <%if(post.content.length > 100){%>
      <p class="card-text2"><%=post.content.substring(0, 100) + "..."%></p>
      <p class="card-text2MobileVersion"><%=post.content.substring(0, 180) + "..."%></p>
        <%}else{%>
        <p class="card-text2"><%=post.content%></p>
        <%}%>
        <form class="removeAndUpdate" action="/postToEdit" method="post">
          <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          <button class="btn btn-actions" type="submit" name="id" value=<%=post._id%>><i class="fas fa-edit"></i></button>
        </form>
        <form class="removeAndUpdate" action="/remove" method="post">
          <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          <button class="btn btn-actions" type="submit" name="id" value=<%=post._id%>><i class="fas fa-trash" style="color: red"></i></button>
        </form>

        <!-- <div class="">
          <form class="" action="/like" method="post">
            <button class="btn btn-primary" type="submit" name="button">Like</button>
            <p>likes: <%= post.likes %></p>
            <input class="hidden" type="text" name="likes" value="<%= post.likes %>">
            <input class="hidden" type="text" name="postID" value="<%= post._id %>">
          </form>
        </div> -->

  </div>
</div>

        <% }); %>
      </div>

<%-include("partials/footer.ejs")-%>
